<div class="card position-absolute top-50 start-50 translate-middle" style="width: 28rem;">
    <div class="card-body" style="background: rgb(38,2,29);
    background: linear-gradient(164deg, rgba(38,2,29,1) 1%, rgba(23,107,107,1) 100%, rgba(61,255,0,1) 100%);">
        <div class="container mt-5">
            <h2 style="text-align: center;color: white;">Login</h2>
            <form action="/login" method="post">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                <input type="email" class="form-control" aria-label="Email" aria-describedby="inputGroup-sizing-default" name="email" required>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                <input type="password" class="form-control" aria-label="Password" aria-describedby="inputGroup-sizing-default" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          
    </div>
  </div>